<h1 align="center">CV</h1>
<%= link_to "Home", root_path %>
<br />

<h1 align="center"><b>MUHAMMAD SADDAM AKRAM</b></h1>
<br>
<br>
<br>
<p>
Liaquat Town, Ghakhar Mandi, <br>
Tehsil Wazirabad,<br>
Distt: Gujranwala<br>
Ph # +92-300-7446216</p>
<h4><b>Objective</b></h4>
<p>To use my knowledge and skills in the best possible way for the betterment of follow human beings and for the attainment of the mercy of ALLAH.</p>

<h4><b>Profile</b></h4>
<p>				
Father name 		: Muhammad Akram <br>
Nationality 		: Pakistani <br>
Domicile 			: Toba take singh/Punjab <br>
Language			: Punjabi, Urdu, English <br>
D.O.B				: 24th December 1987 <br>
N.I.C	 			: 34104-7312476-7
</p>

<h4><b>Academic Qualification</b></h4>									
<p>
<ul style="list-style-type:circle">
	<li>Master of Arts (Political Science)</li>
	<p>University of the Punjab Lahore	</p>
	<li>Bachlor of Arts</li>
	<p>University of the Punjab Lahore	</p>
	<li>B.C.S (Computer Science)</li>
	<p>Virtual University of Pakistan</p>
	<li>D.A.E (Electronics)</li>
	<p>Govt. Poly Technique Institute Sialkot</p>

</ul>
</p>
<h4><b>Course projects</b></h4>

<ul style="list-style-type:square;">
<li>Auto Lube</li>
<li>Product catalogue management system(PCMS)</li>
<li>GUI base animation application which movie a ball in the window</li>
<li><a href="https://sadsnap.herokuapp.com">Sad Snap</a></li>
<li><a href="https://sad-face.herokuapp.com">Sad Face</a></li>
<li><a href="https://tumblar2.herokuapp.com">Tumblar</a></li>
<li><a href="http://sadblog.herokuapp.com">Sad Blog</a></li>
</ul>

<h4><b>Skills Set</b></h4>
<b>General programming language</b><br>
	<p>C, C++, Java, Ruby</p><br>
<b>WEB</b><br>
	<p>HTML, JavaScript, JSP, Jquery, PHP, CSS, Ruby</p><br>
<b>Tools</b><br>
	<p>Rails, Microsoft visual studio, Netbeans, Php MyAdmin, Mysql, Sql server 2008, Dev C++, Borland, sublime</p><br>
<b>Other</b><br>
	<p>Good at Artificial Intelligence,   Matlab</p><br>
<b>Operating Systems</b><br>
	<p>Windows, Linux</p><br>

<h4><b>EXTRA CIRRICULAR ACTIVITIES</b></h4>    
<p>Playing Soccer (RFC), Cricket, Swimming, Performing Arts, Sound management and operating, Graphic Designing.</p>
<h4><b>Reference</b></h4>
<P>Reference will be providing on demand.</P> 